.Tilty {
  border-radius: 15px;
  border-style: none;
}
.btn {
  cursor: pointer;
  border: 5;
  background-color: transparent;
  height: 50px;
  width: 50px;
  border-radius: 15px;
  color: #3498db;
  font-size: 1.5em;
  display: inline-block;
  cursor: pointer;

}